.organization {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(240px);
}

.organization__group {
    display: flex;
    margin-bottom: rem(52px);
    justify-content: space-between;


    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;

    }

    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;
    }
}

.organization__group-second {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(76px);

    @include tablets {
        display: flex;

        width: 95%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include phones {
        display: flex;
        
        width: 95%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.organization__block-first {
    display: flex;
    flex-direction: column;
    max-width: rem(700px);
    margin-right: rem(70px);

    @include tablets {
        width: 95%;
        margin-right: rem(30px);

    }

    @include phones {
        width: 95%;
        margin-right: rem(20px);
    }

}
.organization__block {
    display: flex;
}
.organization__title {
    font-size: rem(36px);
    font-weight: bold;
    margin-bottom: rem(6px);
    margin-left: rem(20px);
}

.organization__content {
    margin-left: rem(20px);
    font-size: rem(28px);
    line-height: rem(32px);
}

.organization__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: rem(80px);

    &:last-child {
        margin-right: 0;
    }
}

.organization__group-third {
    display: flex;
    justify-content: space-between;


    @include tablets {
        display: flex;

        width: 95%;
        flex-wrap: wrap;
    
    }

    @include phones {
        display: flex;
        
        width: 95%;
        flex-wrap: wrap;
        
    }
}

.org__pic {
    margin-bottom: rem(26px);
}
.org__pic-1 {
    margin-bottom: rem(4px);
}
.org__pic-2 {
    margin-top: rem(30px);
    margin-bottom: rem(30px);
}
.org__text {
    font-size: rem(18px);
    
}
.org__text2 {
    font-size: rem(18px);
    max-width: rem(170px);
}

.org__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    &:last-child {
        margin-right: 0;
    }
}

